
.anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
}
.descricao-produtos{
    font-size:20px;
    width:70%;
    
}

.botao-alugue{

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.descricao-produtos li{
    display:flex;
}

@media screen and (min-width:700px) and (max-width:1000px){
    .anuncio {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: ringht;

    }

    .descricao-produtos {
        font-size: 20px;
        width: 100%;
    }
}

.scrollable-div {
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.comment-card {
  border: 1px solid #EBEBEB;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 1300px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.comment-card h3 {
  font-size: 16px;
  color: #333333;
  margin-top: 0;
}

.comment-card p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 1.5em;
  color: gold;
  margin-top: 10px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:before {
  content: "\2605";
  position: absolute;
}

.modalResponse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .checkout {
    max-width: 4000px;
    margin: 0 auto;
  }
  
  .order {
    background-color: #c0c0c0;
    padding: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .order h2 {
    margin-bottom: 50px;
  }
  
  .order h5 {
    margin-bottom: 2px;
  }
  
  .order h4 {
    margin-bottom: 2px;
  }
  
  .order .total {
    margin-top: 50px;
    font-size: medium;
  }
  
  .modal-content button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #cc0000;
  }
  