nav.menu-lateral{
    width: 85px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px;
    box-shadow: 3px 0 0 red;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}
.menu-lateral {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(6.5%);
    z-index: 9999;
  }
nav.menu-lateral:hover{
    width: 250px;
}
.btn-expandir{
    width: 100%;
    padding-left: 35px;
}
.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-lateral > ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 30px;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
}
ul li.item-menu:hover{
 background: rgb(247, 181, 168);
}
ul li.item-menu{
    transition: 2s;
}