* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, sans-serif, Arial;
}
.menu-lateral {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(6.5%);
  z-index: 9999;
}

header {
  height: 100px;
  padding-top: 15px;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 8px #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 60px;
}

.red-button {
  margin-top: 1em;
  color: #f2f2f1;
  background: #f05742;
  line-height: 2em;
  padding: 0px 10px 0 10px;
  border: #ff1e00;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
